{% extends 'base.html.twig' %}

{% block title %}Edit Reserva{% endblock %}

{% block body %}
    <h1>Edit Reserva</h1>

    {{ include('reserva/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reserva_index') }}">back to list</a>

    {{ include('reserva/_delete_form.html.twig') }}
{% endblock %}
