{% extends 'base.html.twig' %}

{% block title %}Edit Detalle Reserva{% endblock %}

{% block body %}
<div class="row justify-content-md-center">
     <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Editar Detalle Reserva</div>
          <div class="card-body">
            {{ include('reservaproducto/_form.html.twig', {'button_label': 'Actualizar'}) }}
                <hr>
                 <div class="navbar mt-3">
                    {{ include('reservaproducto/_delete_form.html.twig') }}
                    <a class="btn btn-warning ml-4" href="{{ path('reservaproducto_index') }}">Ver Lista</a>
                </div>
          </div>
     </div>
</div>
{% endblock %}
