{% extends 'base.html.twig' %}

{% block title %}New Reservaproducto{% endblock %}

{% block body %}
    <h1>Create new Reservaproducto</h1>

    {{ include('reservaproducto/_form.html.twig') }}

    <a href="{{ path('reservaproducto_index') }}">back to list</a>
{% endblock %}
