{% extends 'base.html.twig' %}

{% block title %}Nuevo Detalle Reserva{% endblock %}

{% block body %}
<h1>Crear Nuevo Detalle Reserva</h1>
<div class="row justify-content-md-center">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Detalle Reserva</div>
        <div class="card-body">
            {{ include('reservaproducto/_form.html.twig') }}
            <a class="btn btn-warning" href="{{ path('reservaproducto_index') }}">Ver Detalles</a>
      </div>
    </div>
  </div>
{% endblock %}
