{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}Nuevo Usuario
{% endblock %}

{% block body %}
    <h1>Crear Nuevo Usuario</h1>

<div class="row justify-content-md-center">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Usuario</div>
    <div class="card-body">
      {{ include('user/_form.html.twig') }}
      <a class="btn btn-warning mt-4" href="{{ path('user_index') }}">Ver Usuario</a>
    </div>
  </div>
</div>
{% endblock %}
